
p {
    color: rgb(100, 37, 138);
    font-size: 25px;
    text-align: center;
    background-color: rgb(153, 153, 200);
    border: 2px solid #4CAF50;  
  }
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
    color:grey;
    font-size: 25px;
}

/* The animation code */
h3 {
    animation: color-change 1s infinite;
  }
  
  @keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
  }